.article-content.clearfix
  = image_tag( article.user.avatar, alt:"avatar", style: "width: 55px; height: 55px;", class: "article-content__user-avatar")
  .article
    = link_to "/articles/#{article.id}", class:"article__title" do
      = article.title
    %ul.article__info
      %li
        by #{article.user.name}
      %li
        = article.create_date
      %li
        %i.fa.fa-thumbs-up
          %span #{article.goods.count}

