.article-content.clearfix
  = image_tag( article.user.avatar, alt:"avatar", style: "width: 55px; height: 55px;", class: "article-content__user-avatar")
  .article
    = link_to "/articles/#{article.id}", class:"article__title" do
      = article.title
    %ul.article__info
      %li
        = article.user.name
      %li
        %span.i.fa.fa-thumbs-up 3
      %li
        = article.create_date
