%header
  .header-body
    .header-left.clearfix
      %a{href: "/articles", class: "header-left__title"} MyBrog
      = form_tag( "", method: :get, class: "header-left__search") do
        %span.fa.fa-search
        %input.header-left__search__input{autocomplete: "off", name: "q", placeholder: "キーワードを入力", required: "", type: "search"}
    .header-right.clearfix

      - unless user_signed_in?
        = link_to new_user_registration_path, class:"header-right__mypage" do
          新規登録
          %i.fa.fa-caret-right
        = link_to new_user_session_path, class:"header-right__mypage" do
          ログイン
          %i.fa.fa-caret-right

      - if user_signed_in?
        = link_to "/users/#{current_user.id}", class:"header-right__mypage" do
          マイページ
          %i.fa.fa-caret-right
        = link_to destroy_user_session_path, class:"header-right__mypage", method: :delete do
          ログアウト
          %i.fa.fa-caret-right
        = link_to new_article_path, class:"header-right__article" do
          投稿する
          %i.fa.fa-edit

