= render :partial => "header"
.main
  .main-container.clearfix
    .s-article-content
      .s-head
        .s-head-body
          .s-user-info
            %a{href: "/users/#{@article.user.id}", class: "s-user-info__user-avatar"}
              - if @article.user.avatar.present?
                = image_tag( @article.user.avatar, alt:"avatar", style: "width: 55px; height: 55px;")
              - else
                = image_tag( "/assets/no-image.png", alt:"avatar", style: "width: 55px; height: 55px;")
            %p.s-user-info__name #{@article.user.name} さんの投稿
            %p.s-user-info__date #{@article.create_date}に更新
          #h3.s-head-body__title #{@article.title}
          .s-tags
            - @tags.each do |tag|
              %a{href: "#", class: "s-tags__item"}
                %span
                  = tag.name
          %bottun.good-button{"data-id": "#{@article.id}"}
            %i{class: "fa fa-fw fa-thumbs-up",style: "margin-right: 2px;"}
            %span #{@good_count}

      .s-main
        .s-main__text
          = simple_format(@article.body)

      .comments-content
        .comment-body.clearfix
          %h3.comment-body__title Comment(#{@comments.count})

          - @comments.each do |comment|
            .comment.clearfix
              .comment-left
                = image_tag( comment.user.avatar, alt: "profile_photo", class: "media-object", style: "width: 60px; height: 60px;")
              .comment-right
                .comment-right__user-name
                  #{comment.user.name}:
                .comment-right__text
                  = comment.content

          .comments-form
            %h4.comments-form__title Write a comment
            .comments-form__body
              = form_for [@article, @comment] do |f|
                = f.text_area :content, class: 'message', placeholder:'Input comment'
                = f.submit '送信', class: 'send-bottun'

    .right-content
      = render partial: "ranking", locals: { tag_ranking: @tag_ranking, good_ranking: @good_ranking }


= render :partial => "footer"
